[2019-10-13 06:02] adavijit opened #1 "Implement login screen at beginning of the website"
Inside the front-end folder, you can see the initially created react app files and folders.

- 1. You need to design a login page and signup page with your design skills
- 2. If login button is pressed just redirect to a new page

-- Please attach a screenshot while sending a PR

[2019-10-13 06:08] adavijit opened #2 "Design the Readme.md file"
BlogMan is a social blogging platform, where anybody can come up to share their views and also can read other's opinion related to any topic.
BlogMan is a way to connect with people and to know how the world is thinking.
We are using MERN for this

So design Readme file accordingly.

[2019-10-14 02:29] ignoreintuition commented on #2
Submitted a PR https://github.com/adavijit/BlogMan/pull/3

[2019-10-14 08:42] adavijit opened #4 "Implement login functionality"
Implement login functionality using MongoDB and express
Create a folder backend inside root directory if not available

[2019-10-15 12:05] adavijit opened #6 "Create a login-signup component"
**Create a login-signup component with React.**

1. Connect all login signup functionalities with your front-end part
2. Send a PR with screenshot

Happy Coding :)

[2019-10-15 12:08] #4 closed

[2019-10-15 12:34] adavijit opened #7 "Design and create a user profile component"
**Design and create a user profile component inside the front-end folder using React**

**Directions**
1. User profile picture, name and details should be there
2. User's profile picture changing functionality should be there
3. Refer the screenshot below

![twitter_profile_card](https://user-images.githubusercontent.com/29899278/66889785-513b8700-f001-11e9-8c4f-63a7cc7e04b8.png)

[2019-10-15 16:21] adavijit opened #8 "Design and create a user post component"
**Design and create a user post component**

**

**

![fa087966305da8b146f43f9cfefb2e29](https://user-images.githubusercontent.com/29899278/66850087-b78ac000-ef95-11e9-8bee-a9993015c185.jpg)

[2019-10-15 16:43] theparselmouth commented on #8
Do you mean the CSS ?

[2019-10-15 16:52] adavijit commented on #8
@theparselmouth
you need to create a React component something like the screenshot I've mentioned before.
Obviously you need to use CSS and you may use another library or framework too.
Happy coding :)

[2019-10-16 08:33] adavijit commented on #6
@sebasblancogonz  Great work! Merged! will look forward to working with you!

[2019-10-16 08:33] #6 closed

[2019-10-16 11:31] adavijit opened #11 "Design and create a navigation bar component"
You need to make a navigation bar component (Refer the screenshot below)

1. You can find a simple navbar inside the **_home_** folder
2. You need to make a navbar component and replace that navbar component with the previous one.
3. You may create a parent component and render the navbar component there.
4. Feel free to ask if you have any queries.

Happy coding :)

![image22-1](https://user-imag

[2019-10-17 06:09] adavijit opened #12 "Forget password needs to be implemented"
**Forget password needs to be implemented**

1.  You can change the MongoDB models fields if you wish to.
2.  You need to implement a simple password recovery option.
3.  Forgot password form should be connected with the Sign-in form.

If you have any queries feel free to ask me.

Happy coding :)

[2019-10-24 18:48] atisayajain commented on #12
Edit label to 'hacktoberfest' :D

[2019-10-24 18:48] atisayajain commented on #11
Dada, can I take this?

[2019-10-25 05:45] adavijit commented on #11
@atisayajain sure!

[2019-10-30 01:33] robertbegna commented on #7
hey i'd like to try this

[2019-10-30 03:44] adavijit commented on #7
@robertbegna  go ahead!

[2019-12-05 13:57] rehank478 commented on #12
Hello Sir I want to work on this issue.

[2019-12-05 15:44] adavijit commented on #12
@rehank478  Go with it

[2020-02-22 03:04] adad20 opened #13 "Backend and Frontend runs on the same port"
Is there any specific reason to put both frontend and backend on the same port because they both can't run simultaneously?

[2020-02-25 16:20] adavijit commented on #13
Fixed

[2020-02-25 16:20] #13 closed

[2020-02-26 03:12] shreyasrivastava936 commented on #12
Hi! I want to work on this issue. please assign this task to me fo GSSoC'20.

[2020-02-26 03:17] shreyasrivastava936 commented on #11
Hi! I want to work on this issue. please assign this task to me fo GSSoC'20.

[2020-02-26 09:20] adavijit commented on #11
@shreyasrivastava936 go ahead

[2020-02-26 09:21] adavijit commented on #12
@shreyasrivastava936  go ahead

[2020-02-26 16:38] guptavarun619 commented on #2
As the frontend and backend are seperated into dir ->```front-end``` and ```back-end``` and installation step isn't intutive for now. We might consider to mention it.

[2020-02-26 17:30] adavijit commented on #2
@guptavarun619  go with it

[2020-02-26 17:32] guptavarun619 commented on #8
Shall i give it a try, i might be able to mimic the component screenshot provided. And as project already used material-ui component selection won't ambiguous. (Though i might need help in routing)

[2020-02-26 17:37] adavijit commented on #8
Yes, go ahead! send a screenshot while sending pr

[2020-02-27 04:38] ankit986 opened #16 "Length of Username and password should be set to a limit."
Username and should be of at least some fixed number of characters.
 The regular expression can be changed for length from "^[a-zA-Z0-9]+$" to "^[a-zA-Z]([a-zA-Z0-9_]){2,15}$"

[2020-02-27 07:16] ashima20 commented on #7
Hi is this done ?
can i work on this?

[2020-02-27 10:29] RiaJha02 commented on #8
Hey!! I would like to try this. May I?

[2020-02-27 11:46] irshadjsr21 opened #17 "The backend dosen't throw error if MongoDB connection fails"
The `mongoose.connect` function in `backend/server.js` is not being checked for errors.

[2020-02-27 11:50] irshadjsr21 opened #18 "The frontend has incorrect API url"
While the backend port was changed to `5000`, the frontend is still making API requests to port `3000`

[2020-02-27 14:51] guptavarun619 commented on #18
If they ought to run on same PORT ```5000``` i could change it for front-end from ```3000``` to ```5000```.

[2020-02-27 15:57] irshadjsr21 commented on #18
Let's see what the mentors have to say.

[2020-02-28 11:34] rajatmw1999 commented on #17
This issue has been assigned to irshadjsr21.

[2020-02-28 12:17] vipuldcoder commented on #18
I am Interested

[2020-02-28 12:18] vipuldcoder commented on #8
Hi, It's looks really interesting, Can I give it a try?

[2020-02-28 13:32] vipuldcoder commented on #2
I am Interested to make better Docs and User Friendly. Can I go ahead?

[2020-02-28 13:33] vipuldcoder commented on #17
I am interested with issue.

[2020-02-28 13:34] vipuldcoder commented on #16
I am interested with the issue.

[2020-02-28 13:44] Garimagupta85 commented on #16
I am interested to solve the issue

[2020-02-28 14:40] Major2001 commented on #18
i am interested in this issue

[2020-02-28 14:41] Major2001 commented on #11
I am interested in working on this issue in GSSoc 20

[2020-02-28 15:17] rajatmw1999 commented on #17
Its already assigned. You can checkout other issues as well.

[2020-02-28 16:51] rajatmw1999 opened #19 "MongoDB connection issue (gssoc 20)"
Participants are getting error messages and not able to connect to the mongoDB server. Fix the issue. Also add local as well as an online cluster connection. As of now, just let the statement with the local connection work and comment out the connection to the online cluster.
Whoever who will take up this issue is supposed to:

1. Create an online cluster with their personal account on MongoDB.
2.

[2020-02-28 16:58] rajatmw1999 commented on #2
@vipuldcoder
This is Rajat. I am a mentor at BlogMan.
In a day or two, i will be posting the vision of the project and the pathway in the slack channel, you can read through it and then improve the documentation.

[2020-02-28 16:58] Schitiz commented on #19
I would take it!!

[2020-02-29 03:17] lakshyajit165 opened #20 "Improving the Login and Signup Page using Material UI"
React Ant Design has a vivid collection of components, even more than angular material. It also has notification components (like the ones which show success/error message on completion or failure). I think it would be good to implement all the components using Ant Design as the official docs make them quite easy to implement

[2020-02-29 03:18] Major2001 commented on #12
@adavijit  Should Forgot password redirect to another form?

[2020-02-29 05:23] adavijit commented on #12
@Major2001  obviously.

[2020-02-29 06:38] vipuldcoder commented on #19
I am interested with the issue. Needed Mentorship.

[2020-02-29 06:41] vipuldcoder commented on #12
I am interested to work on this issue. Needed Mentorship.

[2020-02-29 06:43] vipuldcoder commented on #20
I am interested with the issue. Needed Mentorship towards making and impactful pull request.

[2020-02-29 06:47] vipuldcoder commented on #11
It's already assigned @Major2001

[2020-02-29 09:20] rajatmw1999 commented on #19
@vipuldcoder
Issue is already assigned to @Schitiz . If he fails to solve it, i will reassign it o you.

[2020-02-29 10:01] rajatmw1999 opened #22 "Prepare a front end framework for course comparison result."
The website will have a page dedicated to displaying the result of online courses comparison. The wire frame should include features like add to favorite button, comment, name, topic and description of the course.
The wireframe should be easy to use and simple.
Take a look at this to get an idea.

https://betapage.co/

[2020-02-29 10:09] rajatmw1999 opened #23 "Prepare wireframe for Blog Page."
BlogMan is all about blogging. Create a wireframe for a blog page which will have all the basic features of a blog. The topic, content, comments, likes, etc of a article. Try to make it minimilistic and simple.

[2020-02-29 10:38] irshadjsr21 opened #24 "Abstracting out api calls into services. (GSSoC 20)"
The login and signup component is directly accessing the API with hardcoded URL's. The API calls should be abstracted into their respective services.

[2020-02-29 10:56] Swarnimashukla commented on #23
Hi @rajatmw1999  I would like to contribute to this issue . please assign it to me .

[2020-02-29 11:46] rajatmw1999 commented on #23
Issue assigned to @Swarnimashukla .

[2020-02-29 12:06] vipuldcoder commented on #22
I am interested with the issue.

[2020-02-29 12:09] #19 closed

[2020-02-29 12:09] rajatmw1999 commented on #19
Solved.

[2020-02-29 12:40] rajatmw1999 opened #25 "Make API calls to Udemy API"
udemy.com provides API to fetch the data of particular courses based on a search query parameter.
Make UDEMY API calls in the back end based on different search criterias like domain(web dev, data science), stack(mern mean, flutter etc) and authors.
Fetch the JSON data and display it.

[2020-02-29 12:41] rajatmw1999 opened #26 "Make API calls to Udacity API"
udacity provides API to fetch the data of particular courses based on a search query parameter.
Make udacity API calls in the back end based on different search criterias like domain(web dev, data science), stack(mern mean, flutter etc), university and authors.
Fetch the JSON data and display it.

[2020-02-29 12:43] rajatmw1999 opened #27 "Implement Login/SignUP using Github account"
When a new user visits the website, he/she should be able to login using their github account. Implement the functionality along with a dummy login/signup page.

[2020-02-29 12:43] rajatmw1999 opened #28 "Implement Login/SignUP using Google account"
When a new user visits the website, he/she should be able to login using their github account. Implement the functionality along with a dummy login/signup page.

[2020-02-29 12:45] rajatmw1999 opened #29 "Create USERS model in MongoDB"
Create a mongoDB model for the users using the course comparison and blog website.
It should include the following fields :
1. Name
2. Email
3. Interests
4. Posts liked
5. Comments
6. Skills
7. College
8. Search interests

[2020-02-29 12:47] rajatmw1999 opened #30 "Create wireframe for a USER profile"
Create a simple and easy to use wireframe for a user profile. Like a instagram or facebook profile, it should have all links and details of users. A user profile for a user on Linkedin should be a good example of what is expected.

[2020-02-29 12:50] rajatmw1999 opened #31 "Recommendation algorithm"
Create a recommendation algorithm to recommend a user about new posts and new courses available  based on their previous history of interests, likes, comments and their skills. The new suggested posts are supposed to be present in the database and the users history and their previous likes are also supposed to be stored in DB.

[2020-02-29 12:51] rajatmw1999 opened #32 "Create a blog post model in MongoDB"
Create a model in mongodb for blog posts.
It should include
1. TOpic
2. content
3. author
4. topic
5. tags
6. likes
7. comments
8. source

[2020-02-29 12:55] lakshyajit165 commented on #26
I am interested in this issue.

[2020-02-29 12:57] lakshyajit165 commented on #30
I am interested to work on this issue. Please assign it to me.

[2020-02-29 13:02] Major2001 commented on #32
I would like to work on this issue

[2020-02-29 13:02] Major2001 commented on #29
I would like to work on this issue

[2020-02-29 13:03] adad20 commented on #28
@rajatmw1999  I want to work on this issue

[2020-02-29 13:08] nitin1kumar1 commented on #22
I am interested as part of GSSoC.

[2020-02-29 13:15] nitin1kumar1 commented on #7
can I take this task?

[2020-02-29 13:16] rajatmw1999 commented on #22
Issue assigned to @vipuldcoder and @nitin1kumar1 . You guys can work together on slack and give one framework or submit your own.

[2020-02-29 13:17] rajatmw1999 commented on #28
Issue assigned to @adad20

[2020-02-29 13:18] irshadjsr21 commented on #25
I'd like to take this up.

[2020-02-29 13:19] rajatmw1999 commented on #25
Issue assigned to @irshadjsr21

[2020-02-29 13:29] adad20 commented on #31
@rajatmw1999 Can we use npm package for this?
If yes then I want to work on it.

[2020-02-29 13:29] adad20 commented on #27
@rajatmw1999  I wanna take this along with google login/signup

[2020-02-29 14:07] aryasoni98 commented on #8
Hey !! I would like to work on it.

[2020-02-29 14:13] aryasoni98 commented on #30
I am interested to work on this issue . Please assign it to me

[2020-02-29 14:16] aryasoni98 opened #33 "Create UI Design BlogMan Application"
I will create ui design for blogman application using XD .

[2020-02-29 16:27] rajatmw1999 commented on #27
Issue #27 assigned to @adad20

[2020-02-29 16:27] Endowmissy commented on #29
I am interested in working on this issue

[2020-02-29 16:36] nitin1kumar1 commented on #33
I am also quite comfortable with XD, can I be assigned this task.

[2020-02-29 16:59] Samarjiit commented on #32
i would like to work on this issue too

[2020-02-29 17:20] huonggiangbui commented on #16
I am interested. Can I solve this @adavijit ?

[2020-02-29 17:20] huonggiangbui commented on #8
I am interested. Can I solve this @adavijit ?

[2020-02-29 17:21] huonggiangbui commented on #7
I am interested. Can I solve this @adavijit ?

[2020-02-29 17:24] anushreejain98 commented on #33
I am also interested to take up UI design

[2020-02-29 17:36] Ramesh-geek commented on #28
I am also interested to work on this.

[2020-02-29 17:39] DineshGowd commented on #28
I am willing to solve this issue 😊.

[2020-02-29 17:43] rajatmw1999 commented on #31
Yes you can. I want the recommendations to be really helpful and realistic. Based on users history. You can use npm.

[2020-02-29 17:49] adavijit commented on #2
@rajatmw1999  and @PrathamDogra  can you guys please arrange a performance report end of each week?

two suggestions for you:
1. Tell students to post screenshots while raising a PR
2. Try not to make any communication gap with the contributors

[2020-02-29 19:12] simranaggarwal1999 commented on #27
@rajatmw1999 I am interested to work upon this issue.

[2020-02-29 19:23] simranaggarwal1999 commented on #31
I am interested

[2020-02-29 19:29] adad20 commented on #31
@simranaggarwal1999  there is an npm package called recommender that is used to build the recommendation system that you may refer if you wanna use existing package.

[2020-02-29 19:31] rajatmw1999 commented on #31
@simranaggarwal1999  and @adad20  you guys can work together on this issue. Connect if you want on the slack DM.

[2020-02-29 19:39] #7 closed

[2020-02-29 19:39] rajatmw1999 commented on #7
Closed

[2020-02-29 19:39] #8 closed

[2020-02-29 19:39] rajatmw1999 commented on #8
Closed

[2020-02-29 19:42] JoshuaPoddoku commented on #33
Hello @aryasoni98 I would alspolike to do UI design

[2020-02-29 19:46] guptavarun619 commented on #23
Will it be okay if i collaborate with @Swarnimashukla on this one. I've got a few ideas for it. (P.S. is it important to use specific tools for creating wireframe?)

[2020-02-29 20:27] guptavarun619 commented on #30
I would like to contribute on this wire-frame. We can collaborate and come up with some good design which is user-friendly and serves the purpose.

[2020-02-29 20:30] adad20 opened #36 "Registration not working"
Registering a new user is not working.
Error 404 in the console window..
![Screenshot (73)](https://user-images.githubusercontent.com/55142272/75614587-56d4dc00-5b60-11ea-879a-63b86e67ef72.png)

[2020-02-29 20:37] irshadjsr21 commented on #36
This is because the frontend does not have the correct API url. This is mentioned in issue #18

[2020-02-29 20:44] #36 closed

[2020-02-29 20:55] rajatmw1999 commented on #23
@guptavarun619 you can work with @Swarnimashukla on this issue . No limitations on tools, although XD is preferred.

[2020-02-29 20:56] rajatmw1999 commented on #30
@guptavarun619 you can connect with these people on slack to work on this issue

[2020-02-29 21:35] #17 closed

[2020-03-01 04:06] UddeshJain commented on #16
@rajatmw1999 I would like to work on this issue. Please assign me this.

[2020-03-01 05:06] LMPerera commented on #32
I would like to work on this issue

[2020-03-01 05:06] LMPerera commented on #29
I would like to work on this issue

[2020-03-01 05:07] LMPerera commented on #28
I would like to work on this issue

[2020-03-01 05:07] LMPerera commented on #27
I would like to work on this issue

[2020-03-01 05:08] LMPerera commented on #12
I would like to work on this issue

[2020-03-01 05:09] LMPerera commented on #16
I would like to work on this issue

[2020-03-01 05:09] LMPerera commented on #18
I would like to work on this issue

[2020-03-01 05:20] BhuwanChandra commented on #32
@rajatmw1999 I would like to work on this issue, assign it to me.

[2020-03-01 05:24] BhuwanChandra commented on #16
@rajatmw1999 I would like to work on this issue, assign this to me

[2020-03-01 05:27] BhuwanChandra commented on #27
@rajatmw1999 I would also like to work on this issue

[2020-03-01 06:47] Schitiz commented on #32
I would like to take this issue.

[2020-03-01 06:50] shreyasrivastava936 commented on #12
Okay thanks

[2020-03-01 06:51] shreyasrivastava936 commented on #11
Okay

[2020-03-01 08:44] #18 closed

[2020-03-01 09:09] PrathamDogra opened #39 "After signing up Log In page should be opened."
### I'm submitting a
- [ ] bug report.
- [X] feature request.

### Current Behaviour:

After a user registers, he gets directly logged in to the home page.
![Login](https://user-images.githubusercontent.com/43649218/75622786-1f027e80-5bca-11ea-93d4-77b0d2832738.gif)

### Expected Behaviour:

After the user registers he/she should see the login page.
![login](https://user-images.githubusercontent.c

[2020-03-01 09:37] irshadjsr21 commented on #39
I don't think this is a bug. This is an approach almost every website use now.
The user has already entered the username and password while signup so it is not a good user experience to make the user type the same thing again for login.

Google, twitter, facebook and etc use the same approach.

[2020-03-01 10:11] rajatmw1999 opened #40 "Change routes and front end according to new user model"
As per the new user model, also change the route and front end code to suit the new model in mongodb.

[2020-03-01 10:13] rajatmw1999 commented on #29
@Major2001 have a look at the new issue #40. You also need to change that. Comment there that you are interested.

[2020-03-01 10:23] irshadjsr21 commented on #40
I'll take this up.

[2020-03-01 10:25] rajatmw1999 commented on #40
@irshadjsr21 Have a look at the PR #37 . Check the new model there and update the routes and front end accordingly. I am not merging pr #37   as of now. Once your work in this issue is done. I will merge both together.

[2020-03-01 10:28] PrathamDogra commented on #40
@irshadjsr21 you have to change tow things.
1. First, change the routes in router.post("/register") for the new body element which you have added in the model.
2. Change that in frontend components for the UI.

[2020-03-01 10:35] PrathamDogra commented on #16
@ankit986 if possible add the error messages too for empty fields.

[2020-03-01 12:39] BhuwanChandra commented on #39
@PrathamDogra I would like to work on this issue, assign this to me.

[2020-03-01 13:15] Major2001 commented on #16
I would like to work on this issue

[2020-03-01 18:00] lakshyajit165 commented on #20
I have created a pull request regarding this. I edited the issue heading because of the issue with Ant Design as discussed over slack

[2020-03-01 18:10] JoshuaPoddoku commented on #33
Hello @rajatmw1999  I would also like to do UI design

[2020-03-01 18:41] #32 closed

[2020-03-01 19:40] rajatmw1999 commented on #11
@shreyasrivastava936 Any updates on the issue??

[2020-03-01 19:46] #33 closed

[2020-03-01 19:51] rajatmw1999 opened #45 "Design the UI for the Blog Page of BlogMan"
After a user logs in using his account, the page with different blog articles should appear. Design that blog Page. The wireframes will be provided in a day or two, until then comment if you are interested.
Also, have a look at the "blog post mongodb model" to see all the fields that you have to include while designing.

[2020-03-01 19:52] rajatmw1999 commented on #30
@aryasoni98 @lakshyajit165 Any updates on the issue??

[2020-03-01 19:52] rajatmw1999 commented on #22
@vipuldcoder @nitin1kumar1 Any updates on the issue?

[2020-03-01 19:58] TheDudeThatCode commented on #30
@rajatmw1999 I also want to contribute to this please, do you expect something like this ?

https://images.app.goo.gl/75FSwt2g8r2Tp7ma8

@aryasoni98 @lakshyajit165 let's discuss it together.

[2020-03-01 19:59] #24 closed

[2020-03-01 20:05] rajatmw1999 opened #46 "Create wireframes for QnA section."
A QnA section like that of Stackoverflow has to be made in the website. Create a simple and easy to use wireframe.
1. Add question
2. Add topic tags to question
3. Give answer
4. Like answer
5. Leave comment
6. Other similar question
7. People interested in question
8. Anything else you need to add according to you.

This wireframe should show all the questions and a short answer(100 words only) t

[2020-03-01 20:05] rajatmw1999 opened #47 "Create wireframe for a particular question and its answer"
In the QnA section, when a user clicks on a particular question, he will be directed to a page dedicated particulary to that question and all its answers till date. create a simple and easy to use wireframe.

1. Add question
2. Add topic tags to question
3. Give answer
4. Like answer
5. Leave comment
6. Other similar question
7. People interested in question

Also add anything you think are needed

[2020-03-01 20:06] nitin1kumar1 commented on #22
working on it. I will update you soon.

[2020-03-01 20:09] rajatmw1999 opened #48 "Add MailChimp Newsletter service"
The front end for the newsletter sign up is not created yet. So, create a dummy page for signing up to newsletter and connect it to a mailchimp email list.

[2020-03-01 20:14] rajatmw1999 opened #49 "Compile a dark theme for BlogMan"
The blogman website is not completed yet. Before its completion, a dark theme needs to be ready to apply to it.
Make use of your own dummy page and name it as "dark_theme.html".
Include, text, image, icons, emojis etc to it and give it a really cool dark theme.
This page will later on be used to add the dark theme to the complete website.
Create a separate CSS file and a separate folder for this t

[2020-03-01 20:21] rajatmw1999 commented on #30
@TheDudeThatCode two people are already assigned to the issue. I suggest you look out for some new issues

[2020-03-01 20:24] TheDudeThatCode commented on #48
@rajatmw1999 can I work on this please

[2020-03-01 20:26] rajatmw1999 commented on #22
@vipuldcoder @nitin1kumar1 have a look at hackr.io site. I want something like that. Although much more simpler. and betapage.co/ is also a good refernce

[2020-03-01 20:26] TheDudeThatCode commented on #45
@rajatmw1999 can I work on this please I will design the UI for the Blog Page of BlogMan on adobe xd and share it with you.

[2020-03-01 20:28] rajatmw1999 commented on #45
Hey @TheDudeThatCode . You will get the wireframes ready, just copy that in XD and make the UI in html. I am assigning the issue to you, For now, just wait for 1-2 days will i get the wireframe. Be updated, once i provide wireframe, start working on it.

[2020-03-01 20:29] rajatmw1999 commented on #48
@TheDudeThatCode assigning.

[2020-03-01 20:30] TheDudeThatCode commented on #45
Ohk will look into it.

[2020-03-01 20:35] rajatmw1999 opened #50 "Update ReadMe"
Read through the issues that have been created until now and update the readme file with the new features that are being added to the blogMan. Specify the features that blogMan has. read the features from issues.

[2020-03-01 20:38] rajatmw1999 opened #51 "Create wireframe for quiz section - MCQ"
BlogMan will have a quiz section where various types of questions will be asked like mcqs, subjective, numericals etc.

Create wireframe for MCQ questions.

[2020-03-01 20:39] rajatmw1999 opened #52 "Create wireframe for quiz section - NUMERICAL"
BlogMan will have a quiz section where various types of questions will be asked like mcqs, subjective, numericals etc.

Create wireframe for NUMERICALS questions.

[2020-03-01 20:40] rajatmw1999 opened #53 "Create wireframe for quiz section - SUBJECTIVE"
BlogMan will have a quiz section where various types of questions will be asked like mcqs, subjective, numericals etc.

Create wireframe for SUBJECTIVE questions.

[2020-03-01 20:44] rajatmw1999 opened #54 "Ideas Suggestion"
For those of you, not into coding too much. Here is an issue.

Come up with new, exciting, and innovative ideas for a Blog and Education website like BlogMan.
Let your imagination run wild and far away.

You can do research on internet, search through similar sites etc.
We want innovative ideas.

Create a separate folder in the main code along with backend and frontend folder. Name it "New_Ideas"

[2020-03-01 20:51] rajatmw1999 opened #55 "Create wireframe for a particular Online course details"
BlogMan will have a section where users will be able to compare online coding courses all across the internet and rank them according to the popularity of course. The courses will be displayed rank wise.

Take reference from https://hackr.io/ and create a wireframe for a particular course.

After the comparison results are displayed, if the user clicks on one particular course, all the details of

[2020-03-01 20:57] rajatmw1999 opened #56 "Create wireframe for Our Team section."
BlogMan will have a Our Team section displaying the name, pic, role and a small description of the team behind blogman.
Create a simple and easy to navigate wireframe for that.

[2020-03-01 21:01] rajatmw1999 opened #57 "Create wireframe for books suggestions."
BlogMan is all about sharing knowledge. It will have a books suggestions section.

Create a simple wireframe for this page.. it will display:

1. a list of books
2. name of book, author, pic, stars, genre, small description.
3. add to favorite button for every book in list.
4. anything that comes to your mind and you think is needed on this page can be added.

[2020-03-01 21:03] rajatmw1999 opened #58 "Create wireframe for a particular book"
BlogMan is all about sharing knowledge. It will have a books suggestions section.

Create a simple wireframe for the page dedicated to a particular book.. it will display:

name of book, author, pic, stars, genre, description.
add to favorite button for book
anything that comes to your mind and you think is needed on this page can be added.

[2020-03-01 21:05] rajatmw1999 opened #59 "Make API call for books list"
Search over the internet for free APIs that provide a list of books given a query parameter.

Implement the logic in backend.

[2020-03-01 21:10] NVS16 commented on #59
Can I work on this issue?

[2020-03-01 21:34] rajatmw1999 commented on #59
Sure.

[2020-03-02 01:59] guptavarun619 commented on #30
@rajatmw1999 I've sent you a mock-up on slack. Please have a look and share your feedback.

[2020-03-02 05:17] Aju100 commented on #54
@rajatmw1999  can u assigned me this

[2020-03-02 07:05] dipanshuraz commented on #54
@rajatmw1999  I am interested

[2020-03-02 11:07] Ankita1811 commented on #54
@rajatmw1999 I am interested. Can you assign me to this

[2020-03-02 11:11] Ankita1811 commented on #56
@rajatmw1999  Can I work on this please?

[2020-03-02 11:50] Ankita1811 commented on #53
@rajatmw1999 Can you please assign me to this?

[2020-03-02 11:59] Rukmini-Meda commented on #58
Hello, I am interested to work on this issue. I have experience with Adobe XD and Balsamiq. Please assign this to me. I will work on this issue using XD.

[2020-03-02 12:00] Rukmini-Meda commented on #57
Interested to work on this issue. Experienced in XD and planning to use the same. Please assign this to me as part of GSSoC'20

[2020-03-02 12:03] Rukmini-Meda commented on #11
I would like to work on this issue. Please assign this to me as part of GSSoC

[2020-03-02 13:07] guptavarun619 commented on #57
I would like work on this issue for GSSoC'20.

[2020-03-02 13:07] guptavarun619 commented on #56
I would like work on this issue for GSSoC'20.

[2020-03-02 13:08] guptavarun619 commented on #53
I would like work on this issue for GSSoC'20.

[2020-03-02 13:08] guptavarun619 commented on #52
I would like work on this issue for GSSoC'20.

[2020-03-02 13:14] vipuldcoder commented on #55
I am interested with the issue.

[2020-03-02 13:14] vipuldcoder commented on #50
I am interested with the issue.

[2020-03-02 13:15] vipuldcoder commented on #39
I am interested with the issue.

[2020-03-02 13:16] vipuldcoder commented on #49
I am interested with the issue.

[2020-03-02 14:32] guptavarun619 commented on #58
I would like to work on this issue. Please assign me this.

[2020-03-02 15:08] shreyakapoor08 commented on #16
I would like to work on this issue. Kindly assign me to this

[2020-03-02 15:11] shreyakapoor08 commented on #54
rajatmw1999 I want to work on this

[2020-03-02 15:13] shreyakapoor08 commented on #51
rajatmw1999 I want to work on this issue

[2020-03-02 15:31] irshadjsr21 opened #61 "User model error"
While resolving the issue #29, the PR #60 introduced the following line in the users model.

https://github.com/adavijit/BlogMan/blob/219e9986418390c44e5c2987de254db5e0921acb/back-end/src/models/User.js#L12

Which leads to the following error.

![Screenshot from 2020-03-02 20-50-21](https://user-images.githubusercontent.com/40335357/75690372-bbab4600-5cc8-11ea-99d8-c867667d6b31.png)

The `index` s

[2020-03-02 16:55] bhavesh0206s commented on #39
I would like to work on this issue

[2020-03-02 17:23] rajatmw1999 commented on #61
@irshadjsr21 Would you like to take up this issue? Also, i think major2001 has a PR with conflicts.

[2020-03-02 17:24] rajatmw1999 commented on #58
Assigned to @Rukmini-Meda . Keep me posted in the slack channel about your progress.

[2020-03-02 17:24] rajatmw1999 commented on #57
Assigned to @guptavarun619 . Keep me posted in the slack channel.

[2020-03-02 17:25] irshadjsr21 commented on #61
Yea, I'll fix it.

[2020-03-02 17:25] rajatmw1999 commented on #56
Assigned to @Ankita1811  . Keep me posted in the slack channel. Also, i suggest either you use Figma or XD.

[2020-03-02 17:27] rajatmw1999 commented on #55
Assigned to @vipuldcoder  . Keep me posted in the slack channel. Also, I suggest you use either Figma or XD.

[2020-03-02 17:28] rajatmw1999 commented on #54
This issue needs ideas not a particular code. So, i am assigning it to more than one people. @Aju100 @dipanshuraz @shreyakapoor08 . Properly read the way you need to commit. And come up with good and new ideas.

[2020-03-02 17:29] rajatmw1999 commented on #53
Assigned to @Ankita1811 .

[2020-03-02 17:30] rajatmw1999 commented on #52
@guptavarun619 . Questions will be displayed and the user just needs to write either  a number or a string in the text box as answer. It will be one word. Either one number or one word. Assigned.

[2020-03-02 17:31] guptavarun619 commented on #46
The requirements provided are more than enough to work upon. Shall i get started with this?

[2020-03-02 17:31] rajatmw1999 commented on #50
@vipuldcoder Assigned. Complete and put the PR by 4th March.

[2020-03-02 17:33] guptavarun619 commented on #52
Sounds pretty generic. I'll come up with some idea and share it on slack with you for your feedback?

[2020-03-02 17:34] rajatmw1999 commented on #39
Assigned to @BhuwanChandra . Have a look at the Readme file. On the top you will find a link to marvelapp. We need the login and signup flow to be like that. Also,, refer to this issue created by @PrathamDogra

[2020-03-02 17:35] rajatmw1999 commented on #30
@guptavarun619 This issue was not assigned to you.

[2020-03-02 17:37] rajatmw1999 commented on #61
Assigned to @irshadjsr21 . I suggest you put the PR today itself. So other dont have problem carrying forward.

[2020-03-02 17:39] guptavarun619 commented on #30
@rajatmw1999 You told me to "connect with these people on slack to work on this issue". Accordingly i initiated the discussion and came up with my idea for the issue.

[2020-03-02 17:39] rajatmw1999 commented on #52
Sure.

[2020-03-02 17:40] rajatmw1999 commented on #46
Sure. Assigned. You have been assigned a number of issues. Make sure you don't delay the PRs.

[2020-03-02 17:42] rajatmw1999 commented on #30
Okay. My bad. Just say my comment. I will look into it. Did all of you guys work together for the wireframe you have sent me on slack?

[2020-03-02 17:45] rajatmw1999 commented on #51
Go ahead @shreyakapoor08 . Make use of either Figma or XD. Most people are working on either of these.

[2020-03-02 17:48] guptavarun619 commented on #30
Not exactly, actually before sending anything to you. I discussed it with fellow contributors for suggestions/ ideas and after all that i asked for you feedback so that i deliver according to what's expected. (If you just take a look and share your feedback, it'll benefit me to work according to expectation)

[2020-03-02 17:56] shreyakapoor08 commented on #54
sure

[2020-03-02 17:59] rajatmw1999 commented on #30
@guptavarun619 I have reviewed the wireframes and told you about the further proceedings.

[2020-03-02 18:02] rajatmw1999 commented on #54
@dipanshuraz @shreyakapoor08 @Aju100 Submit your individual PRs and not in just one PR.

[2020-03-02 18:12] Aju100 commented on #54
sure

[2020-03-02 18:22] taran1515 commented on #47
@rajatmw1999 I am ready to work on this issue.

[2020-03-02 18:27] rajatmw1999 commented on #47
Assigned.

[2020-03-02 18:33] #29 closed

[2020-03-02 18:56] Endowmissy commented on #61
The reason why it was set to false is that,from the documentation,I learnt that,setting index to true is not good for production,only good for development,mayb the unique should have been removed
@irshadjsr21 let me know if you still want to take it up or I correct it here

[2020-03-02 19:03] rajatmw1999 commented on #23
Done.

[2020-03-02 19:03] #23 closed

[2020-03-02 19:08] shreyakapoor08 commented on #51
I am sorry @rajatmw1999  I thought we have to code in html,css in this issue. I don't have prior knowledge with designing using figma or XD

[2020-03-02 19:10] rajatmw1999 commented on #51
No problem. This is just wireframing for this page. Once the frames are complete, another issue for coding it with html, css with be opened. You can work on that.

[2020-03-02 19:28] Swarnimashukla commented on #51
@rajatmw1999  i would like to take this issue .please assign it to me .

[2020-03-02 19:49] rajatmw1999 commented on #51
assigned to @Swarnimashukla . Submit by 5th march.

[2020-03-02 19:59] AishwaryaVarma commented on #54
assign this to me

[2020-03-02 20:10] adityasanil commented on #61
Can I take up this issue?

[2020-03-02 20:39] adityasanil opened #65 "Unable to register a new user."
``
![Screenshot 2020-03-03 at 02 06 23](https://user-images.githubusercontent.com/25709147/75715555-9aac1a80-5cf3-11ea-9ada-60d469e0ccd1.png)

I would like to fix this and refactor the auth module a bit.

[2020-03-02 20:50] #61 closed

[2020-03-02 20:50] rajatmw1999 commented on #65
Make a pull of the updated code and try again. It will work

[2020-03-02 21:09] rajatmw1999 commented on #65
Assigned . Fix it asap.

[2020-03-02 21:11] rajatmw1999 commented on #65
Issue #40 will solve it

[2020-03-02 21:11] #65 closed

[2020-03-02 21:17] adityasanil commented on #65
The issue still exists.

[2020-03-03 04:49] adityasanil commented on #25
Can I work on this?

[2020-03-03 04:49] adityasanil commented on #26
Can I work on this?

[2020-03-03 05:00] anmolkaur18 commented on #49
Please assign this issue to me .I am interested in contributing to this

[2020-03-03 05:02] anmolkaur18 commented on #2
I am interested in contributing to this.

[2020-03-03 05:30] adityasanil commented on #59
Can I work on this?

[2020-03-03 07:32] SachindraFernando commented on #49
Can I work on this please

[2020-03-03 10:31] Shreya-Gupta02 commented on #49
interested

[2020-03-03 10:32] Shreya-Gupta02 commented on #16
interested

[2020-03-03 13:03] rajatmw1999 commented on #49
Assigned to @anmolkaur18

[2020-03-03 13:26] NVS16 commented on #59
I am working on this..

[2020-03-03 13:50] Ramesh-geek commented on #28
When i will assignd i am waiting for the task to handle

[2020-03-03 17:09] Shreya-Gupta02 commented on #20
interested

[2020-03-03 18:21] Swarnimashukla commented on #51
hi @rajatmw1999  please review my pr #68  .

[2020-03-03 19:08] anushreejain98 commented on #57
@rajatmw1999 I am also interested in this task, could you please assign me this task in collab with @guptavarun619

[2020-03-03 19:12] anushreejain98 commented on #11
Hello @adavijit, I am interested in working on this issue in GSSoc 20. Could you please assign me this task?

[2020-03-03 19:22] #20 closed

[2020-03-03 19:24] rajatmw1999 opened #69 "Create Routes for login and register."
Since, the UI for and signup page is noe updated. Update the routes in the back end and make the flow as per mentioned.

1. When user opens website, login page should appear.
2. If user logs in, go to home page . Otherwise, allow him to go to signup page.
3. After signing up, redirect to home page.

[2020-03-03 19:27] #51 closed

[2020-03-03 19:30] anushreejain98 commented on #16
@rajatmw1999 I would like to work on this issue. Kindly assign me  this

[2020-03-03 19:32] rajatmw1999 commented on #28
It is already assigned to @adad20

[2020-03-03 19:33] rajatmw1999 commented on #49
@SachindraFernando @Shreya-Gupta02 i am creating two more issues with the same problem. You can work on them.

[2020-03-03 19:34] rajatmw1999 commented on #25
@adityasanil i suggest you start looking for issues not assigned to anyone. This is already assigned.

[2020-03-03 19:37] anushreejain98 commented on #69
Hello @rajatmw1999 I would like to try solving this issue. Could you please assign me this.

[2020-03-03 19:38] rajatmw1999 commented on #69
@anushreejain98 are you currently working on any other issue?

[2020-03-03 19:39] anushreejain98 commented on #69
no, I am not working on any other issue currently.

[2020-03-03 19:41] rajatmw1999 commented on #69
Assign to @anushreejain98

[2020-03-03 19:42] rajatmw1999 commented on #69
Try to fix this issue by today itself and put the PR.

[2020-03-03 19:42] anushreejain98 commented on #69
Thanks @rajatmw1999 I find that during signup, the register button does not work, no redirection is there.Is this what I need to resolve ?

[2020-03-03 19:43] rajatmw1999 commented on #69
Read my comment above. Everything is mentioned there. And ya, make the register button work..

[2020-03-03 19:45] rajatmw1999 opened #71 "BlogMan dark theme 2"
The blogman website is not completed yet. Before its completion, a dark theme needs to be ready to apply to it.
Make use of your own dummy page and name it as "dark_theme_2.html".

Include, text, image, icons, emojis etc to it and give it a really cool dark theme.
This page will later on be used to add the dark theme to the complete website.
Create a separate CSS file and a separate folder for thi

[2020-03-03 19:46] rajatmw1999 opened #72 "BlogMan dark theme 3"
The blogman website is not completed yet. Before its completion, a dark theme needs to be ready to apply to it.
Make use of your own dummy page and name it as "dark_theme_3.html".

Include, text, image, icons, emojis etc to it and give it a really cool dark theme.
This page will later on be used to add the dark theme to the complete website.
Create a separate CSS file and a separate folder for thi

[2020-03-03 20:06] rajatmw1999 commented on #40
@irshadjsr21 The new UI and the new user model both are merged. You can work on this now. Any changes you think have to be done, do it. Also, while registerting, dont keep anything "required" except for essential things like password etc.

[2020-03-03 20:10] irshadjsr21 commented on #40
On it.

[2020-03-03 20:16] #25 closed

[2020-03-03 20:20] irshadjsr21 opened #74 "axios not defined error"
In the PR #43, while resolving conflicts this error was introduced.

![Screenshot from 2020-03-04 01-46-59](https://user-images.githubusercontent.com/40335357/75815942-47e96600-5dba-11ea-901f-fceedef91d6d.png)

[2020-03-03 20:31] rajatmw1999 commented on #74
@irshadjsr21 take this up.

[2020-03-03 20:35] rajatmw1999 commented on #16
@ankit986 what is the progrss??

[2020-03-03 20:36] rajatmw1999 commented on #12
@shreyasrivastava936 any updates??

[2020-03-03 20:39] #59 closed

[2020-03-03 21:20] #74 closed

[2020-03-04 02:39] adad20 opened #77 "Error while doing npm install in the back-end."
Error is due to the minor mistake in the package-lock.json file in the back-end.
![Screenshot (75)](https://user-images.githubusercontent.com/55142272/75839704-73d30e80-5def-11ea-8de5-e7e669e54668.png)

Just add '}' in the last of the file and then do npm install.

[2020-03-04 02:59] TVSSSRIPAD commented on #71
@rajatmw1999  I am interested to work on this. Can you assign me this issue?

[2020-03-04 04:08] SachindraFernando commented on #49
@rajatmw1999  yeah sure

[2020-03-04 04:09] SachindraFernando commented on #71
Can I work on this issue??

[2020-03-04 04:10] SachindraFernando commented on #72
I'm interested to work on this

[2020-03-04 04:19] rajatmw1999 commented on #72
@SachindraFernando assigned

[2020-03-04 04:36] Shreya-Gupta02 commented on #49
yeah sure

[2020-03-04 04:38] Shreya-Gupta02 commented on #71
interested

[2020-03-04 13:48] lakshyajit165 commented on #26
I tried to access the API. But it turns out that coursera deprecated their catalog APIs in 2017. I get this message instead.
![Screenshot from 2020-03-04 19-07-22](https://user-images.githubusercontent.com/30868587/75885634-dc9ca400-5e4c-11ea-925e-9db94200a1db.png)

[2020-03-04 14:17] irshadjsr21 commented on #77
@adad20 Are you working on this?
If you have solved this then please add a PR so that everyone can get the change.

[2020-03-04 14:43] rajatmw1999 commented on #26
Wait, this means they dont provide APIs for their course information anymore??
Check out the web, i think there has to be another API. What is this Affiliate Program in this screenshot.
Try to make sure that you get a coursera API by reasearching a bit. If you can't get it, then go through the API of some other website that gives coding courses, like udacity or some other website.

[2020-03-04 14:45] rajatmw1999 commented on #77
@irshadjsr21 please put a pr for this issue asap.

[2020-03-04 14:46] rajatmw1999 commented on #71
assign to @Shreya-Gupta02

[2020-03-04 14:49] rajatmw1999 commented on #77
@adad20 i will assign some other issue to you in replacement to this. This needs to be solved asap. Can't wait for your reply.

[2020-03-04 14:52] lakshyajit165 commented on #26
Yeah. They don't provide APIs directly anymore. The screenshot above shows that, we can still access the coursera APIs, through their 'Affiliate program'. I tried applying for it, but a lot of details needed to be filled in. I thought the mentors should tell us how to proceed with that, otherwise, we could use APIs from other sites like Udemy, Udacity etc.

[2020-03-04 14:57] rajatmw1999 commented on #26
We are already using Udemy. We will need the coursera api as well. I suggest you enroll in the program and get the API keys.

[2020-03-04 14:59] #77 closed

[2020-03-04 15:04] adad20 commented on #77
Okay I don't have any problem. Issue must be resolved quickly. I will work for another issue.

[2020-03-04 15:07] lakshyajit165 commented on #26
Sure. Let me check out the details about it today.

[2020-03-04 15:07] irshadjsr21 opened #79 "Validator and default error handling missing on backend."
The backend API needs to have a validator setup. Also a default error handler needs to be added.

[2020-03-04 15:09] irshadjsr21 opened #80 "Validator on frontend"
A validator needs to be set up on the frontend.

[2020-03-04 15:29] lakshyajit165 commented on #26
So I checked this affiliate program. What I have understood is, they(coursera) want anyone who is requesting access to their APIs to adversite the courses on their website. And for that, they need the following details. Here is the screenshot of the entire page. The empty fields(ones where I could not understand what to fill in) are marked in red
Note: I intentionally blacked out my address fields

[2020-03-04 15:32] irshadjsr21 commented on #77
@adad20 checkout issue #80

[2020-03-04 15:34] irshadjsr21 commented on #79
@rajatmw1999 I'll be taking this up.

[2020-03-04 15:45] rajatmw1999 commented on #26
These details are not ready yet. If the form is not proceeding further, try udacity or some other website you might feel provide good quality material.

[2020-03-04 15:46] rajatmw1999 commented on #79
Is this issue different from #80?

[2020-03-04 16:07] rajatmw1999 commented on #80
@irshadjsr21 take this up.

[2020-03-04 16:08] #40 closed

[2020-03-04 16:12] #58 closed

[2020-03-04 16:15] rajatmw1999 opened #82 "Update the particular book wireframe"
The wireframe
"Wireframes/wireframe_book/Screenshot (57).png"
Needs to be updated accordingly..
 ------
These buttons are way to large :
Add to fav, rate book, review book , amazon, flipkart. Make them small and rounded.

Add a comment section before "you may like".
-------

The wireframe are also stored in xd format, that can be changed. Make the following changes and commit the updated .png file

[2020-03-04 16:17] rajatmw1999 commented on #54
@dipanshuraz @Aju100 @shreyakapoor08 I want your ideas by tomorrow. Make sure to put the PR before 6th March.

[2020-03-04 17:10] dipanshuraz commented on #54
ok @rajatmw1999

[2020-03-04 17:29] TVSSSRIPAD commented on #82
I would like to work on this issue. Can u assign it to me?

[2020-03-04 17:43] rajatmw1999 commented on #82
assigned to @TVSSSRIPAD

[2020-03-04 18:17] dipanshuraz opened #85 "use # hashtags with posts"
Implementing hashtags can make it easy to find the blogs of the same subject and matter.
example : #javascript #tech

[2020-03-04 18:25] rajatmw1999 opened #86 "Host BlogMan online"
Use any hosting service of your choice and host the current version of BlogMan. Put the URL of the hosted address in the readme.md file at the top.

[2020-03-04 18:51] ashishnagpal2498 commented on #85
I would like to work on this issue.

[2020-03-04 20:13] rajatmw1999 opened #87 "Make API calls to youtube API"
Youtube provides API to fetch the data of particular courses based on a search query parameter.
Make Youtube API calls in the back end based on different search criterias like domain(web dev, data science), stack(mern mean, flutter etc), university and authors.
Fetch the JSON data and display it.

[2020-03-04 20:17] rajatmw1999 opened #88 "Make API calls to KhanAcademy API"
khanacademy.org provides API to fetch the data of particular courses based on a search query parameter.
Make khanacademy.org API calls in the back end based on different search criterias like domain(web dev, data science), stack(mern mean, flutter etc), university and authors.
Fetch the JSON data and display it.

[2020-03-04 20:18] rajatmw1999 opened #89 "Make API calls to PluralSight API"
pluralsight.com provides API to fetch the data of particular courses based on a search query parameter.
Make pluralsight.com API calls in the back end based on different search criterias like domain(web dev, data science), stack(mern mean, flutter etc), university and authors.
Fetch the JSON data and display it.

[2020-03-04 20:22] rajatmw1999 opened #90 "Make API calls to edx.org API"
edx.org provides API to fetch the data of particular courses based on a search query parameter.
Make edx.org API calls in the back end based on different search criterias like domain(web dev, data science), stack(mern mean, flutter etc), university and authors.
Fetch the JSON data and display it.

[2020-03-04 20:50] irshadjsr21 opened #91 "Default birthday value in user model"
The default birthdate value in user model is `Date.now()`.

https://github.com/adavijit/BlogMan/blob/4626cbc0e9ef74950bd295b02b81c691d0dec5c2/back-end/src/models/User.js#L25

This should not have a default value or have a `null` default value.

[2020-03-05 04:09] dipanshuraz opened #92 "use ckeditor editor for creating blogs"
Use https://ckeditor.com/ for integrating an editor in blogman . Ckeditor is modern and easy to implement.

[2020-03-05 04:11] dipanshuraz commented on #86
I will do this @rajatmw1999 Assign me

[2020-03-05 04:34] BhuwanChandra commented on #87
@rajatmw1999 I would like to work on this issue. please assign this to me

[2020-03-05 04:36] BhuwanChandra commented on #90
@rajatmw1999 I would like to work on this issue. please assign this to me

[2020-03-05 04:37] BhuwanChandra commented on #88
I would like to work on this. please assign me

[2020-03-05 04:37] BhuwanChandra commented on #89
I would like to work on this. please assign me

[2020-03-05 10:32] SubCoder1 commented on #91
I am interested to take up this issue. Can you please assign me this issue @irshadjsr21

[2020-03-05 11:18] #30 closed

[2020-03-05 13:55] #57 closed

[2020-03-05 14:08] PrathamDogra commented on #86
@rajatmw1999 I think we let @adavijit do the hosting and deployment.

[2020-03-05 14:24] #86 closed

[2020-03-05 14:25] rajatmw1999 commented on #91
assigned to @SubCoder1 . Deadline is 6th march.

[2020-03-05 14:40] gpsuhas20 commented on #88
i would like to work on this please assign me this.

[2020-03-05 14:41] gpsuhas20 commented on #87
@rajatmw1999  i wolud like to work on this please assign me this work.

[2020-03-05 14:42] gpsuhas20 commented on #89
@rajatmw1999  i would like to work on this please assign me this work.

[2020-03-05 15:27] lakshyajit165 commented on #26
I looked into the Udacity Course Catalog API today, but it seems they don't provide a public documentation/website for their APIs too. But I learned that there might be a way to access the API through a website called rapiapi.com. I'm still looking into this.

[2020-03-05 16:22] rajatmw1999 commented on #26
okay. keep me posted.

[2020-03-05 16:45] adityasanil commented on #90
Can you assign this to me?

[2020-03-05 16:46] adityasanil commented on #89
Can I work on this issue?

[2020-03-05 16:46] adityasanil commented on #87
I would like to work on this

[2020-03-05 19:22] #79 closed

[2020-03-05 19:24] rajatmw1999 commented on #88
Assigned to @gpsuhas20 . Before working, go through the api error handling guidelines. You need to follow them. Deadline is 9th march.

[2020-03-05 19:25] rajatmw1999 commented on #87
Assgined to @adityasanil . Before working, go through the api error handling guidelines. You need to follow them. Deadline is 9th march

[2020-03-05 19:25] rajatmw1999 commented on #89
Assigned to @BhuwanChandra . Before working, go through the api error handling guidelines. You need to follow them. Deadline is 9th march

[2020-03-06 06:43] anushreejain98 opened #98 "Enhancement: Add change password and forget password feature"
In case the user forgets password or desires to change the password while intending to keep the mail id that was used to register the same.

[2020-03-06 07:08] anushreejain98 commented on #69
Hello, the issue is fixed in current version, no need to create a PR

[2020-03-06 07:25] adavijit opened #100 "Need a contributors component"
Need a contributors component which will fetch all details from GitHub API .

You can get the Contributors.jsx file inside the front-end folder. Make any changes there

Needs to show total PRs raised, commits, profile-photo, username and Full name

[2020-03-06 08:21] #69 closed

[2020-03-06 08:49] irshadjsr21 opened #102 "Separating controllers and routers in backend"
Currently the routers and controllers are defined on the same file. We need to separate them to make it more maintainable.

[2020-03-06 09:46] rajatmw1999 commented on #54
@dipanshuraz @Aju100 @shreyakapoor08  you need to put the pr today.

[2020-03-06 09:53] ashishnagpal2498 commented on #100
I would like to work on this issue @adavijit .

[2020-03-06 10:25] irshadjsr21 commented on #102
I'll be working on it.

[2020-03-06 12:28] anmolkaur18 commented on #11
If this issue is still open please assign it to me.

[2020-03-06 13:41] anmolkaur18 commented on #49
@rajatmw1999 can we also use javascript?

[2020-03-06 14:09] lakshyajit165 commented on #26
Hi @rajatmw1999, I know it's kinda bummer, but udacity doesn't seem to make its course catalog apis public too. I found an old API though, but it gives 404 error now(seems to me that, this API was valid once but is now deprecated).

![Screenshot from 2020-03-06 19-22-54](https://user-images.githubusercontent.com/30868587/76090748-1fdc4b80-5fe2-11ea-880e-fd05a6a8d744.png)

[2020-03-06 14:30] rajatmw1999 commented on #26
@lakshyajit165 i will close this issue for now. Recently i have opened a few api course comparison issue, you can comment in one of them.. which is not assigned yet.

[2020-03-06 14:31] rajatmw1999 commented on #49
Try to keep it to css and html only. Because it will only lead to integration problems. Why do you need JS anyways?

[2020-03-06 14:33] rajatmw1999 commented on #26
leave your comment in the edx.org api issue.

[2020-03-06 14:36] anmolkaur18 commented on #49
JS for toggling between light and dark theme

[2020-03-06 14:39] anmolkaur18 commented on #49
is toggling necessary?

[2020-03-06 16:47] lakshyajit165 commented on #90
I want to work on this issue

[2020-03-06 18:08] rajatmw1999 commented on #49
If you are toggling, then you can use JS. It will be a nice feature.. go ahead with js

[2020-03-06 18:08] rajatmw1999 commented on #90
Assigned to @lakshyajit165

[2020-03-06 18:10] #26 closed

[2020-03-06 18:15] #80 closed

[2020-03-06 18:15] #53 closed

[2020-03-06 19:19] #46 closed

[2020-03-06 19:21] #47 closed

[2020-03-06 19:22] #56 closed

[2020-03-06 19:23] rajatmw1999 commented on #55
@vipuldcoder what is the progress??

[2020-03-06 19:23] #39 closed

[2020-03-06 19:24] rajatmw1999 commented on #16
@Garimagupta85 are you interested to take up this issue??

[2020-03-07 08:01] adavijit commented on #100
@ashishnagpal2498  go ahead

[2020-03-07 12:56] simranaggarwal1999 commented on #98
I would like to work upon this issue

[2020-03-07 13:24] rajatmw1999 commented on #54
This issue will be reassigned today. So, put your PR before 12.

[2020-03-07 13:49] Aju100 commented on #54
i will put PR today.

[2020-03-07 14:34] Mitali-C commented on #92
I would like to work on this issue. Can you assign this to me?

[2020-03-07 15:33] Basilleaf24 commented on #50
@rajatmw1999 Please assign me this issue,
I haven't been assigned any issues, I would like to contribute to this

[2020-03-07 17:02] lakshyajit165 commented on #90
Hi @rajatmw1999. I have requested for the edX course catalog API access. Will keep you posted on this.
![Screenshot from 2020-03-07 22-31-35](https://user-images.githubusercontent.com/30868587/76147560-92712800-60c3-11ea-9f6f-8c6370a0c2f1.png)

[2020-03-07 19:28] ashishnagpal2498 commented on #100
Okay , working on it.

[2020-03-07 20:10] dipanshuraz commented on #92
@Mitali-C Only Mentor can assign ask him in Slack

[2020-03-08 06:54] #52 closed

[2020-03-08 06:56] #87 closed

[2020-03-08 06:58] rajatmw1999 commented on #50
Assigned to @Basilleaf24

[2020-03-08 08:30] Basilleaf24 commented on #50
@rajatmw1999 Thanks I'm working on it

[2020-03-08 09:32] rajatmw1999 commented on #88
It looks like khan academy does not provide API for course comparison. I am closing this issue for now. You can checkout other unassigned issue and leave a comment there.

[2020-03-08 09:32] #88 closed

[2020-03-08 09:32] rajatmw1999 commented on #102
assigned to @irshadjsr21

[2020-03-08 09:34] rajatmw1999 commented on #85
@ashishnagpal2498 for now, just change the "posts" mongoose model and insert a new tags field in it.

[2020-03-08 09:35] rajatmw1999 commented on #48
@TheDudeThatCode what is the progress?

[2020-03-08 09:47] rajatmw1999 commented on #31
@simranaggarwal1999 @adad20 what is the progress? also let me know about the npm package you are using for this task.

[2020-03-08 11:00] adad20 commented on #31
@rajatmw1999 We are using recommender and since @simranaggarwal1999 exams were going on we recently started.

[2020-03-08 13:26] gpsuhas20 commented on #27
i am interested to work on this issue

[2020-03-08 13:27] gpsuhas20 commented on #28
i would like to work on this issue.

[2020-03-08 13:27] rajatmw1999 commented on #31
Give me a date when you can finish. Also i am waiting for google/github auth from ur side @adad20

[2020-03-08 13:27] gpsuhas20 commented on #48
i would like to work on this issue

[2020-03-08 13:31] #50 closed

[2020-03-08 13:33] #54 closed

[2020-03-08 13:37] adad20 commented on #31
@rajatmw1999 Yes I will finish that by Tuesday. Actually a lil busy with college fest so I got late

[2020-03-08 14:27] ashishnagpal2498 commented on #85
Did I miss something?

[2020-03-08 14:59] lakshyajit165 opened #115 "Sending a welcome email to users on successful signup"
It is nice to send users who are registering on blogman, a welcome email, as seen in most sites/apps.
@rajatmw1999. I would like to work on this issue.

[2020-03-08 15:49] irshadjsr21 opened #117 "Changing google books API URL"
Currently, the URL for fetching books is `POST` : `/api/books/getBooks`.
This should be converted to `GET` : `/api/books`

[2020-03-08 16:28] rajatmw1999 opened #118 "Making a public chat channel"
Use socket.io or some other service to make an open public chat group.
Functionalities:

1. Send text messages.
2. Send images.
3. Every message sent should have a unique id displayed in small letter at top of that message, like issues on github.
4. Include profanity word checker in chat box and block any text message that contains adult words.
5. Include nudity checker in images. Block any images

[2020-03-08 16:33] rajatmw1999 commented on #115
Assigned to @lakshyajit165

[2020-03-08 16:35] #102 closed

[2020-03-08 16:36] adityasanil commented on #118
I would like to work on this

[2020-03-08 16:38] #49 closed

[2020-03-08 16:42] irshadjsr21 commented on #118
I'm up for it

[2020-03-08 16:44] Major2001 commented on #115
I would like to work on this issue

[2020-03-08 16:47] rajatmw1999 opened #120 "Content Upload section"
Create a content upload section for users to upload videos.
To include the functionality of online education in BlogMan, we need users to upload videos/assignment pdfs etc to blogman.

1. Let a user upload videos to Blogman site.
2. Include tags for domain of video, no of hours, author, stars, etc etc etc. whatever you can think of or check from websites like udemy, coursera etc.

Create a seperat

[2020-03-08 16:47] rajatmw1999 commented on #118
@adityasanil I need you to work on #120

https://github.com/adavijit/BlogMan/issues/120. Comment there and i will assign you.

[2020-03-08 16:49] adityasanil commented on #120
Ready to take this

[2020-03-08 17:21] rajatmw1999 commented on #120
assigned to @adityasanil Please send the PR for this before 11th march.

[2020-03-08 17:27] adityasanil commented on #120
Where do you want me to store the content (videos/docs). S3?

[2020-03-08 18:05] rajatmw1999 commented on #120
If you have an account, then it would be really good. Otherwise, upload it on youtube, using our website.

[2020-03-08 19:26] Endowmissy commented on #117
Interested,can I pick this up??

[2020-03-09 05:29] ashimasingla20 commented on #117
can i work on this ?

[2020-03-09 12:11] gpsuhas20 commented on #118
@rajatmw1999  rajatmw i would like to work on this issue

[2020-03-09 12:19] gpsuhas20 commented on #117
can i work on this issue

[2020-03-09 16:39] #117 closed

[2020-03-09 16:41] #72 closed

[2020-03-10 02:48] Basilleaf24 commented on #16
@rajatmw1999 I would like to contribute to this issue, pls assign me this issue.

[2020-03-10 04:35] gpsuhas20 commented on #115
@lakshyajit165  i would like to work on this issue

[2020-03-10 04:39] hitha2000 commented on #115
@lakshyajit165  i would like to work on this issue

[2020-03-10 16:56] #28 closed

[2020-03-10 19:46] maheshschand commented on #91
I am interested to take this issue. Could you please assign this issue to me @irshadjsr21?

[2020-03-10 22:13] rajatmw1999 opened #126 "Solve the oauth problem and add the .env file"

[2020-03-11 03:15] irshadjsr21 commented on #126
I'm up for it.

[2020-03-11 07:54] adavijit opened #127 "Need improvement in Contribution.md file"
Improve Contribution.md file with the steps to follow for contributing.

1. It should have how to start the front-end server.
2. It should have how to start the backend server with database part.

Happy Coding. 👍

[2020-03-11 08:04] #115 closed

[2020-03-11 14:09] simranaggarwal1999 commented on #31
@adad20 Aditya you also please have a look at the PR and make the required changes

[2020-03-11 16:44] adad20 commented on #127
@adavijit  I wanna take this.

[2020-03-11 17:43] #31 closed

[2020-03-11 17:44] #27 closed

[2020-03-11 17:46] rajatmw1999 commented on #71
@Shreya-Gupta02 what are the updates?

[2020-03-11 18:23] ashishnagpal2498 commented on #100
Hi, @adavijit is there any wireframe design for this page so that I can work according to that ?

[2020-03-11 18:29] simranaggarwal1999 commented on #12
@adavijit Can I work upon this issue?

[2020-03-11 18:32] simranaggarwal1999 commented on #100
@adavijit Can I work upon this issue?

[2020-03-11 18:32] adavijit commented on #100
No, just show list of contributors with their profile name,link, username,photo

[2020-03-11 18:34] adavijit commented on #100
@simranaggarwal1999  go ahead and try to complete within tomorrow

[2020-03-11 18:35] simranaggarwal1999 commented on #100
@adavijit Sure

[2020-03-11 18:36] simranaggarwal1999 commented on #100
Kindly assign it to me

[2020-03-11 18:39] ashishnagpal2498 commented on #100
I am working on it.

[2020-03-11 18:40] adavijit commented on #100
@ashishnagpal2498  send your PR too.

[2020-03-11 18:53] ashishnagpal2498 commented on #100
Sure , Thank you

[2020-03-11 19:49] adavijit commented on #127
@adad20 go ahead

[2020-03-12 04:47] shreyakapoor08 commented on #127
I want to work on this issue.

[2020-03-12 04:49] shreyakapoor08 commented on #98
I want to take up this issue

[2020-03-12 08:40] simranaggarwal1999 commented on #100
@adavijit Kindly review my pull request.

[2020-03-12 08:50] simranaggarwal1999 commented on #71
@rajatmw1999 I would like to take us this issue Kindly assign me.

[2020-03-12 08:52] Shreya-Gupta02 commented on #71
Will update the status soon
Didn't had access to Internet at the moment

On Thu, 12 Mar 2020, 2:20 pm Simran Aggarwal, <notifications@github.com>
wrote:

[2020-03-12 08:59] simranaggarwal1999 commented on #48
@rajatmw1999 I would like to take us this issue Kindly assign me.

[2020-03-12 12:57] #100 closed

[2020-03-12 16:33] kamal-kaur04 commented on #12
Hello @rajatmw1999 Can I takeup this issue?

[2020-03-12 16:36] adad20 commented on #98
issue is same as #12

[2020-03-13 08:32] guptavarun619 commented on #82
Shall I give it a shot? I've contributed to a few wireframe to this project previously so it'll be easier for me to maintain the consistency.  I'll be using Figma if that's okay.

[2020-03-13 08:35] guptavarun619 commented on #55
I'm interested in this issue. Shall I work on this as well if you like me to contribute to this issue?

[2020-03-13 13:30] Chetanjain10 commented on #127
Please assign me this issue. I want to work on this.

[2020-03-13 13:32] Chetanjain10 commented on #2
I am interested in this please assign me this issue.

[2020-03-13 14:38] #127 closed

[2020-03-13 16:50] shivaniraochepuri21 commented on #12
Hi, can I please take up this issue? I am a beginner, in GSSOC 20. Thanks

[2020-03-14 08:28] lakshyajit165 commented on #90
I have got the access to the edX api today. But I have my weekend shift at my office. Will start to work on it tomorrow.

[2020-03-14 09:37] rajatmw1999 commented on #90
We need to fetch details of courses macthing our query parameter.
If the user types "web development", he should see all courses from web developement category provided by edx. If he types "Lakshyajit", he should see all courses from the author lakshyajit. We will have seperate text fields for author and category in the front end.

[2020-03-14 09:37] rajatmw1999 commented on #55
@guptavarun619 you can work on this.

[2020-03-14 09:38] rajatmw1999 commented on #82
@guptavarun619 go ahead

[2020-03-14 15:14] utkzas commented on #2
I am a beginner in MERN please assign it to me also

[2020-03-14 16:29] rajatmw1999 opened #137 "Code the wireframe for landing blog page"
Code the wireframe for the landing page of BlogMan. The landing page's wireframe is stored at "\front-end\public\wire-frame\Blog Page.png".
Be sure to make the design responsive for mobile as well.

[2020-03-14 16:32] rajatmw1999 opened #138 "Code the wireframe for education section header"
The wireframe for education section is stored at "\front-end\public\wire-frame\Header+top page.png".
Be sure to make the design responsive for mobile as well. This is just the header of the education section of blogman.

[2020-03-14 16:33] rajatmw1999 opened #139 "Code the wireframe for education section footer"
The wireframe for education section is stored at "\front-end\public\wire-frame\Bottom page +footer.png".
Be sure to make the design responsive for mobile as well. This is just the header of the education section of blogman.

[2020-03-14 16:34] rajatmw1999 opened #140 "Code the wireframe for QNA section"
The wireframe for QNA section is stored at "\front-end\public\wire-frame\QnA Section.png".
Be sure to make the design responsive for mobile as well. This is just the header of the education section of blogman.

[2020-03-14 16:35] rajatmw1999 opened #141 "Code the wireframe for bookSuggestion section"
The wireframe for education section is stored at "\front-end\public\wire-frame\Book Suggestion.png".
Be sure to make the design responsive for mobile as well. This is just the header of the education section of blogman.

[2020-03-14 16:37] rajatmw1999 opened #142 "Code the wireframe for ourTeam section"
The wireframe for education section is stored at "\front-end\public\wire-frame\Our team.png".
Be sure to make the design responsive for mobile as well. This is just the header of the education section of blogman.

[2020-03-14 16:38] rajatmw1999 opened #143 "Code the wireframe for MCQ QUIZ section"
The wireframe for MCQ section is stored at "\front-end\public\wire-frame\Quiz MCQ section .png".
Be sure to make the design responsive for mobile as well. This is just the header of the education section of blogman.

[2020-03-14 16:39] rajatmw1999 opened #144 "Code the wireframe for MCQ NUMERICAL section"
The wireframe for NUMERICAL QUIZ section is stored at "\front-end\public\wire-frame\Quiz NUMERICAL section.png".
Be sure to make the design responsive for mobile as well. This is just the header of the education section of blogman.

[2020-03-14 16:40] rajatmw1999 opened #145 "Code the wireframe for SUBJECTIVE QUIZ section"
The wireframe for SUBJECTIVE QUIZ section is stored at "\front-end\public\wire-frame\Quiz_Subjective .png".
Be sure to make the design responsive for mobile as well. This is just the header of the education section of blogman.

[2020-03-14 16:41] rajatmw1999 opened #146 "Code the wireframe for USER section"
The wireframe for education section is stored at "\front-end\public\wire-frame\User_Profile\1.png".
Be sure to make the design responsive for mobile as well. This is just the header of the education section of blogman.

[2020-03-14 16:42] rajatmw1999 opened #147 "Code the wireframe for USER 2 section"
The wireframe for USER2 section is stored at "\front-end\public\wire-frame\User_Profile\2.png".
Be sure to make the design responsive for mobile as well.

[2020-03-14 16:42] rajatmw1999 opened #148 "Code the wireframe for USER 3 section"
The wireframe for USER3 section is stored at "\front-end\public\wire-frame\User_Profile\3.png".
Be sure to make the design responsive for mobile as well.

[2020-03-14 16:43] rajatmw1999 opened #149 "Code the wireframe for USER 4 section"
The wireframe for USER4 section is stored at "\front-end\public\wire-frame\User_Profile\4.png".
Be sure to make the design responsive for mobile as well.

[2020-03-14 16:51] ashishnagpal2498 commented on #149
Can I work on this issue @rajatmw1999 ?

[2020-03-14 16:52] rajatmw1999 commented on #126
@irshadjsr21 you can put in the pr

[2020-03-14 16:52] rajatmw1999 commented on #149
assigned to @ashishnagpal2498 . @ashishnagpal2498 be sure to make it matching the wireframe and responsive for mobile as well. Deadline is 20th March.

[2020-03-14 16:55] ashishnagpal2498 commented on #146
The user's page - blog , favorite , followers and following , should have code consistency. So assigning to different people will get different solutions. Can work on all 4 @rajatmw1999  ?

[2020-03-14 17:01] Chetanjain10 commented on #139
Please assign me this issue. I want to work on it

[2020-03-14 17:02] shreyakapoor08 commented on #145
Can I take this up?

[2020-03-14 17:02] shreyakapoor08 commented on #144
can I work on this?

[2020-03-14 17:02] shreyakapoor08 commented on #142
can I work on this?

[2020-03-14 17:49] BhuwanChandra commented on #137
@rajatmw1999 I would like to work on this issue.

[2020-03-14 17:52] Satyam3976 commented on #142
I am a GSSOC 2020 participant. Please assign it to me so that I can work on it asap.

[2020-03-14 18:07] Satyam3976 commented on #140
I am a GSSOC 2020 participant. Please assign it to me so that I can start working on this.

[2020-03-14 18:08] Satyam3976 commented on #141
I am a GSSOC 2020 participant. Please assign it to me so that I can start working on this.

[2020-03-14 18:13] BhuwanChandra commented on #89
@rajatmw1999 I have looked at the Pluralsight API [documentation](https://www.pluralsight.com/product/professional-services/white-paper/api), they don't have the API for searching courses with specific search terms. however, they have an [API endpoint](http://api.pluralsight.com/api-v0.9/courses) that will give all the courses with some details in form of a .csv file.

[2020-03-14 20:00] rajatmw1999 commented on #89
WHat kind of courses will they give? Also, please attach the screenshot .csv response they are giving

[2020-03-14 20:02] rajatmw1999 commented on #146
You are right. I had this thing in mind but giving all 4 issues to one person wont be right. Anyways, you go ahead with this one and i will assign the other 3 to you as well if I think you have done a good job on this one, Until then, the other 3 will remain unassigned.

[2020-03-14 20:02] rajatmw1999 commented on #145
assigned to @shreyakapoor08 . Submit it by 20th March.

[2020-03-14 20:03] rajatmw1999 commented on #139
assigned to @Chetanjain10 . Submit it by 20th March.

[2020-03-14 20:03] rajatmw1999 commented on #137
assigned to @BhuwanChandra . Submit it by 20th March.

[2020-03-14 20:04] rajatmw1999 commented on #142
assigned to @Satyam3976 . Submit it by 20th March.

[2020-03-14 21:20] Endowmissy commented on #16
@rajatmw1999 it's like this issue hasn't been sorted,I will like to work on it

[2020-03-15 03:12] lakshyajit165 commented on #143
@rajatmw1999 I would like to work on this issue.

[2020-03-15 06:30] BhuwanChandra commented on #89
courses that are currently available or previously available.

![courses](https://user-images.githubusercontent.com/46065877/76696715-5a19ad00-66b4-11ea-871f-de836a174e4c.JPG)

there are about 10000 courses entries in this .csv file

[2020-03-15 08:18] rajatmw1999 commented on #143
Assigned to @lakshyajit165 .

[2020-03-15 08:19] rajatmw1999 commented on #89
Okay, the data doesnot seem useful. Will have to close this isue

[2020-03-15 08:19] #89 closed

[2020-03-15 11:05] simranaggarwal1999 commented on #138
@rajatmw1999 Kindly assign me this issue

[2020-03-15 11:43] adad20 commented on #147
hi @rajatmw1999  I wanna work on this issue

[2020-03-15 11:44] adad20 commented on #141
hi @rajatmw1999  I wanna work on this issue

[2020-03-15 13:05] utkzas opened #152 "Names of Mentors in README.md"
Name of Ayushi (M) is not written in the README.md file. Please allow me to add it

[2020-03-15 13:38] maheshschand commented on #91
@rajatmw1999 Can you merge my pull request #153 ?

[2020-03-15 15:19] PrathamDogra opened #154 "The npm recommender package is showing error while installation."
The recommender which is used in back-end/src/routes/api/blog.js is showing error while installation
![recommender](https://user-images.githubusercontent.com/43649218/76704292-ffa53e80-66fd-11ea-8361-c14a0644d78d.png)

I recommend to use something else for the recommendation algorithm.

[2020-03-15 15:22] PrathamDogra commented on #154
The issue is in compliance with PR #129

[2020-03-15 16:31] utkzas commented on #152
please label it as gssoc20 also

[2020-03-16 00:14] maheshschand commented on #11
@rajatmw1999 I like to work on this issue. Could you please assign this to me?

[2020-03-16 00:17] maheshschand commented on #12
@rajatmw1999 I like to work on this issue. Could you please assign me this?

[2020-03-16 00:19] maheshschand commented on #91
Since the issue is resolved. @rajatmw1999  Can you close this issue?

[2020-03-16 04:29] invisiblegeek1 commented on #98
i would like to fix this issue

[2020-03-16 09:06] imabp opened #155 "Adding a Markdown Article Writer for Blog"
On discussion over slack with @rajatmw1999  , we decided to add this feature.
I have already made this in my profile here is the link: [github](https://github.com/imabp/Markdown_Blog)

[2020-03-17 05:55] BhuwanChandra commented on #137
@rajatmw1999 do I need to create the upper navbar also or the lower part only?

![Blog Page](https://user-images.githubusercontent.com/46065877/76826233-f329fe80-6841-11ea-85e5-44cb83ecf78b.png)

[2020-03-17 07:01] adavijit commented on #2
@utkzas  and @Chetanjain10  go ahead

[2020-03-17 12:40] Kuljeet-123 commented on #152
@utkzas I'm a GSSOC'20 participant .I would like to work on this.Please assign me this.

[2020-03-17 18:17] BhuwanChandra commented on #148
@rajatmw1999 I would like to work on this issue. please assign this to me.

[2020-03-17 19:04] Chetanjain10 commented on #2
okay I'm working on it

[2020-03-17 19:05] adavijit commented on #2
@Chetanjain10  pull the latest one. Try to make it better

[2020-03-17 19:44] imabp commented on #155
@rajatmw1999 pls assign this to me.

[2020-03-17 19:57] Chetanjain10 opened #158 "CODE_OF_CONDUCT.md"
The project should include CODE_OF_CONDUCT.md file which should define the project's standards, scope, enforcement, and attribution.

I am a GSSOC participant and I want to work on this please assign me this issue.

[2020-03-17 21:51] arpita-in commented on #140
Please assign it to me @rajatmw1999  and further guide me to proceed for the same.

[2020-03-17 21:55] arpita-in commented on #147
Please assign it to me @rajatmw1999  and further guide me to proceed for the same.

[2020-03-17 21:56] arpita-in commented on #148
Please assign it to me @rajatmw1999  and further guide me to proceed for the same

[2020-03-18 03:17] BhuwanChandra commented on #147
@rajatmw1999 I would like to work on this issue. please assign this to me.

[2020-03-18 05:16] Chetanjain10 commented on #2
Sir, I have generated PR. Please review it.

[2020-03-18 07:32] Chetanjain10 commented on #2
Sir when it will reflect in my score? @adavijit

[2020-03-18 11:09] Satyam3976 opened #160 "Fix minor error in Contrbution.md file"
In the contribution.md file, there is a minor typo in which the git command written to pull from the upstream repository is incorrect.

[2020-03-18 11:10] Satyam3976 commented on #160
I am a GSSOC 2020 participant. Please assign it to me so that I can work on it.

[2020-03-18 17:34] dulcetsoul commented on #149
I want to work on this issue. But can you help me to get started with wireframe I haven't wherever create one. Please guide me how can I begin and what resources  I can go through.

[2020-03-18 18:11] imabp commented on #154
Use Good Enough Recommendation package: `npm i ger`
in `back-end/src/routes/api/blog.js`

I actually researched on this.
But to be honest, this would be my first time, to implement this. I am super excited to learn something new.

[2020-03-19 12:07] Aman-Codes opened #161 "Create a pull request template for the repository"
This includes creating a pull request template for the contributors.

[2020-03-19 12:16] Aman-Codes commented on #161
Please review it and suggest any changes if needed.
@PrathamDogra

[2020-03-19 14:36] utkzas commented on #152
@PrathamDogra The issue was resolved in PR #156 / PR #157 and was merged to master branch successfully.

[2020-03-19 14:44] utkzas opened #164 "Logo for Project Blogman"
As we can see, many projects of GSSoC have Logo. Although a logos primary purpose is to identity, they can also be leveraged to communicate important brand messages and values.

Hence, there is a need of Logo for Project Blogman.

[2020-03-19 17:29] BhuwanChandra commented on #138
@rajatmw1999 I would like to work on this issue. please assign this to me.

[2020-03-21 07:19] #152 closed

[2020-03-21 10:13] Valdermaut commented on #160
can I work on it

[2020-03-21 12:19] adavijit commented on #160
@Valdermaut  Go ahead

[2020-03-21 13:00] Satyam3976 commented on #160
@adavijit Sir, I had already fix this issue on my local machine. and waiting for mentors to assign me so that I can send pull request to you. I had already fixed my last issue and waiting for my next issue that why I opened this issue
so please assign me.

[2020-03-21 17:16] adavijit commented on #160
@Satyam3976  please mention your PR here

[2020-03-21 17:59] Satyam3976 commented on #142
@adavijit @rajatmw1999 @PrathamDogra Please review my PR.

[2020-03-21 18:01] Satyam3976 commented on #140
@adavijit Please assign this task to me.Currently I have no issue to work upon.Thanks:)

[2020-03-21 18:02] Satyam3976 commented on #141
@adavijit @rajatmw1999 @PrathamDogra Please assign this task to me.Currently I have no issue to work upon.Thanks:)

[2020-03-22 06:27] Satyam3976 commented on #160
https://github.com/adavijit/BlogMan/pull/169
@adavijit

[2020-03-22 09:40] #160 closed

[2020-03-22 09:59] divyaprakash-Rx commented on #11
@adavijit I want to work on this. Please assign it to me.

[2020-03-23 21:54] shwhite17 commented on #164
assign it to me, please?

[2020-03-23 22:46] shwhite17 commented on #164
![Screenshot (11)](https://user-images.githubusercontent.com/57324656/77370117-2d395a00-6d86-11ea-990f-fce3e250fff1.png)
above is logo for the app ^_^

[2020-03-23 22:49] shwhite17 commented on #164
we can also add  "Publish your words in your way! Whether you'd like to share your knowledge, experiences or the latest news, publish your own articles in a unique and smart way"  this quote to logo

[2020-03-23 22:51] shwhite17 commented on #155
@rajatmw1999 pls assign this to me.

[2020-03-24 09:15] shwhite17 commented on #164
assign it to me........

[2020-03-24 11:27] imabp commented on #155
I have already made it earlier based on our talk on slack .[Here is the link ](https://github.com/imabp/Markdown_Blog)

[2020-03-24 17:38] RiaJha02 commented on #164
Hello, I would like to take this task up!
Thank you!

[2020-03-24 17:41] guptavarun619 commented on #144
May I work on this issue. I'm a bit familiar with material-ui library used in this project.

[2020-03-24 18:54] imabp commented on #155
Sir, I have made a pull request: #170 on this issue, it also includes, the video description about the article writer I have created.

[2020-03-25 17:12] imabp commented on #155
I have already put the stuff into New Ideas folder, as it is a new one.
Here is the quick video of Markdown Article Writer
[Watch it on YouTube](https://www.youtube.com/watch?v=XX29zqwBylM&feature=youtu.be)

[2020-03-26 14:57] #143 closed

[2020-03-27 16:00] #126 closed

[2020-03-27 16:05] #137 closed

[2020-03-27 16:11] #164 closed

[2020-03-27 22:52] shreyakapoor08 commented on #141
@rajatmw1999 hey can i work on this issue?

[2020-03-27 22:53] shreyakapoor08 commented on #140
@rajatmw1999 hey can i work on this?

[2020-03-28 15:13] imabp commented on #155
Thank you for merging the PR #170

[2020-03-28 15:13] #155 closed

[2020-03-28 16:39] imabp commented on #154
@PrathamDogra @rajatmw1999 @adavijit  I have fixed the issue with a new module content-based-recommender. Please review pull #174

[2020-03-29 05:27] vipul-aggarwal-099 commented on #22
In Progress.

[2020-03-29 05:41] lakshyajit165 commented on #148
@rajatmw1999 and @PrathamDogra. I would like to work on this issue. Please assign it to me. You both have seen my work on the quizmcq frontend section(I am not bragging about myself, but since React happens to be one of my favourite skills, I am confident enough to code it)

[2020-03-29 18:32] RiaJha02 commented on #140
Hello, I would like to try this! Please assign this task to me.
Thanks!

[2020-03-30 05:19] imabp commented on #154
@PrathamDogra  @adavijit @rajatmw1999  Please close the issue, as it has been resolved.

[2020-03-30 08:03] #154 closed

[2020-03-30 09:18] adavijit commented on #140
@RiaJha02  go ahead

[2020-03-30 12:56] RiaJha02 commented on #140
Sure, Thanks!

[2020-04-01 05:34] dibakar95 commented on #147
@rajatmw1999 Hi, I would like to work on this issue.

[2020-04-01 05:37] dibakar95 commented on #11
@adavijit Hi I would like to work on this issue.

[2020-04-03 06:11] Aakansha99 commented on #11
I would like to work upon this issue

[2020-04-03 06:13] Aakansha99 commented on #22
Can i work on this issue?

[2020-04-03 06:15] Aakansha99 commented on #45
Can i work on this issue?

[2020-04-03 06:19] Aakansha99 commented on #138
Kindly assign this issue to me

[2020-04-03 06:19] Aakansha99 commented on #141
Kindly assign this issue to me.

[2020-04-05 10:34] lakshyajit165 commented on #148
@rajatmw1999 and @PrathamDogra. I tried to reach you both on slack but couldn't. Could you please let me know, where should I put the code for this wireframe? I mean what should be the name of the file(or inwhich folder it should be) and what should be the name of the route?

[2020-04-06 11:05] priyanka2109 commented on #16
Can I work on this?

[2020-04-07 15:07] Aakansha99 commented on #71
Can you please assign this issue to me

[2020-04-07 15:11] Aakansha99 commented on #16
I would like to work on this issue. Kindly please assign this to me

[2020-04-07 15:12] Aakansha99 commented on #12
I would like to work upon this issue. Kindly please assign this to me.

[2020-04-09 16:22] #142 closed

[2020-04-13 15:29] lakshyajit165 opened #181 "Dockerizing the application"
The entire application can be dockerized to run on containers, using docker and docker-compose files. I can be a good way to manage environment variables too. And in the future, we can think of deploying the application as kubernetes clusters too(because kubernetes makes use of docker files too, that could be done at a much later stage though)
@PrathamDogra I would like to work on this issue. Plea

[2020-04-13 15:31] lakshyajit165 opened #182 "Modifying the UI in the auth pages."
Since the entire project is using material-ui, it would be a good idea to modify the auth pages now to enhance the looks(since the auth functionality is complete and as of my knowledge no one is working on it now).

@PrathamDogra, I would like to work on this issue. Please assign it to me.

[2020-04-13 18:40] Kuljeet-123 commented on #158
@rajatmw1999  can I work on this issue??

[2020-04-14 19:03] lakshyajit165 opened #183 "To check if an email used for registering an user is valid."
It's a way to prevent users from entering any random emails while registering themselves on the webapp. It could be done through an API called apilayer. It checks the authenticity of an email through an API call.

@PrathamDogra, I would like to work on this issue. Please assign it to me.

[2020-04-16 08:08] ishukhanchi commented on #183
I would like to work on this issue. Can you please assign it to me.

[2020-04-16 15:02] #148 closed

[2020-04-18 16:59] rajatmw1999 opened #184 "Browser History Retreival"
Search and bring out APIs and npm packages or inbuilt browser javascript functions that retrieve the complete history of the current browser of the user. Also, find the same things for retrieving cookies and bookmarks of that particular browser.

The package should not only retrieve the history of the currently open tab like "window.history" does. It should retrieve the complete past history of th

[2020-04-18 17:02] rajatmw1999 opened #185 "InfoGraphics packages"
Search through the net and bring out the best info graphics package which is free.

It should include the functions of making browser renderable graphs and charts. Like bargraphs, pie charts etc.

We will use it to map the number of user visits and their activity while they are using the website.

Make a notepad file and mention the link of the package or API and push that file.

[2020-04-18 17:03] rajatmw1999 commented on #184
Make a notepad file and mention the packages or api links in that file and push that file.

[2020-04-18 19:04] shreyakapoor08 commented on #185
Can I work on this ?

[2020-04-18 19:05] shreyakapoor08 commented on #184
Can I work on it @rajatmw1999

[2020-04-18 19:06] irshadjsr21 commented on #185
I think chart.js will do our work.

[2020-04-18 19:24] ashishnagpal2498 commented on #184
Hi @rajatmw1999 , can I work on this issue?

[2020-04-18 20:24] shwhite17 commented on #144
can I work on this issue, sir? @adavijit

[2020-04-19 13:29] #182 closed

[2020-04-19 20:06] shwhite17 commented on #138
can u please assign to me this issue? @rajatmw1999

[2020-04-19 20:07] shwhite17 commented on #120
can you please assign this to me @rajatmw1999

[2020-04-20 05:25] Kuljeet-123 commented on #2
@rajatmw1999  @adavijit Can I work on this issue??

[2020-04-20 07:34] Aakansha99 commented on #183
Kindly assign this issue to me

[2020-04-20 07:42] Aakansha99 opened #187 "Adding Validation Control"
There should be several validation controls to the complete form.
Kindly assign this issue to me.

[2020-04-20 21:22] rajatmw1999 commented on #184
@ashishnagpal2498 please submit the issue by tomorrow

[2020-04-20 21:22] rajatmw1999 commented on #185
@shreyakapoor08 please submit the issue by tomorrow

[2020-04-21 17:49] ashishnagpal2498 commented on #184
Yes , I am working @rajatmw1999 .

[2020-04-26 19:50] #184 closed

[2020-04-26 19:50] #185 closed

[2020-04-26 19:52] #183 closed

[2020-04-26 19:58] rajatmw1999 opened #192 "Traffic Dashboard"
Create a dashboard that displays the number of times a user has visited a website. Make use of infographic like piecharts or bar graphs and make the dashboard really easy to navigate and understand.

It include
1. Data of how many times user visited a website.
2. Total amount of time user stayed at website everytime they opened it.
3. Categorize the users interest in different fields like educatio

[2020-04-26 20:06] Satyam3976 commented on #192
Can I work on this? Please assign me @rajatmw1999

[2020-04-28 22:44] FrozenGirl-spd commented on #192
Can i work on the same...

[2020-04-29 13:21] Rukmini-Meda commented on #138
@rajatmw1999 Please asssign this to me as part of GSSoC'20. I can make PR early

[2020-04-29 13:23] Rukmini-Meda commented on #11
@adavijit Please assign this to me as part of GSSoC'20 if its not done yet. I have commented earlier as well.

[2020-04-29 14:39] rajatmw1999 commented on #192
@FrozenGirl-spd sure

[2020-05-01 12:12] Rukmini-Meda commented on #147
@rajatmw1999 Hello, if this issue is not done yet, please assign this to me as part of GSSoC'20. I would like to work on it and can make PR early.

[2020-05-01 12:15] Rukmini-Meda commented on #98
@rajatmw1999 Please assign this to me as part of GSSoC'20 if this issue is not done. I would like to work on it.

[2020-05-01 12:15] Rukmini-Meda commented on #12
@rajatmw1999 Please assign this to me as part of GSSoC'20 if its not done yet. I would like to work on it and can make a PR early.

[2020-05-05 17:17] #192 closed

[2020-05-05 17:20] rajatmw1999 opened #196 "Database model for user activity"
Make a database model for saving the user activity on the website.
The database model will consist of

1. IP address of the users network
2. Array of routes they visited on our site
3. Total time they spent on the website
4. Array of ids of posts they liked
5. Number of times this ip address visited the website.

[2020-05-05 17:22] rajatmw1999 opened #197 "Track user activity"

[2020-05-05 17:29] rajatmw1999 opened #198 "Code traffic dashboard wireframe."
Code the wireframe as stored in "BlogMan/Dashboard wireframe/".

Make use of ChartJS for piecharts, and other differnt info graphics elements. Make the dashboard respionsive.

[2020-05-05 17:58] irshadjsr21 commented on #196
I'd like to work on this.

[2020-05-06 06:38] rinsacm commented on #197
I'd like to work on this.

[2020-05-06 08:56] rajatmw1999 commented on #197
Assigned to @rinsacm

[2020-05-07 10:04] MsShandilya commented on #196
interested in this

[2020-05-08 15:38] kichloo opened #200 "ISSUE_TEMPLATE.md"
The issue template helps the contributor to briefly mention the issue and the change required to fix it. I can design a issue template according to the structure of BlogMan project. It can have Easy/ Medium as the Labels.

[2020-05-08 20:48] ankiiitraj commented on #98
Hello mentors I have been working on it. Will be sending PR soon.

[2020-05-08 21:05] ankiiitraj commented on #90
If this not taken, I would like to work on this. Also Can you add me to the slack group, so that I could clarify doubts on the issues.

[2020-05-09 15:18] #196 closed

[2020-05-11 04:59] ampsteric commented on #71
interested to work on this issue

[2020-05-11 14:14] RiaJha02 commented on #140
@rajatmw1999 I have completed the required code, please review it.
Thank you!

[2020-05-13 12:37] tanyajha16 commented on #91
i am interested to take this issue ,can u assign it to @tanyajha16

[2020-05-18 15:23] #181 closed

[2020-05-18 15:25] #140 closed

[2020-05-18 15:29] #144 closed

[2020-05-18 16:20] lakshyajit165 opened #201 "Update Readme to contain instructions to run the app on docker"
I would like to update the main readme file in the root of the project to contain instructions to run the entire app on docker. In this way, a person doesn't need to start the backend and frontend separately. I can write details(not too verbose ofcourse) instructions on how to do it.
@PrathamDogra and @rajatmw1999 Please assign this issue to me.

[2020-05-19 14:19] Rukmini-Meda commented on #198
I would like to work on this issue. Please assign this to me as part of GSSoC'20.

[2020-05-19 15:40] PrathamDogra commented on #201
Go for it.

[2020-05-19 21:54] tanyajha16 commented on #85
can you assign this to @tanyajha16

[2020-05-21 06:54] #201 closed

[2020-05-30 15:45] #145 closed

[2020-11-25 23:27] SaraLatif99 commented on #16
Is this issue still open?

[2021-01-21 19:11] Aanandgupta commented on #12
is this issue still not fixed?

[2022-01-02 10:27] deelobase opened #224 "Deploy your app for free 🚀"
Hey @adavijit, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://dee

[2022-10-11 16:37] shaansuraj opened #237 "PAGE LOADING ERROR"
When you will scroll down and reload the page it will show the page from where you scrolled to and reloaded.